*.pbxproj -text
*.js linguist-detectable=true
*.rb linguist-detectable=false
*.h linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.M linguist-detectable=false
*.rb linguist-detectable=false
android/fastlane/* linguist-vendored
android/Gemfile/* linguist-vendored
android/Gemfile.lock/* linguist-vendored
android/fastlane/Fastfile/* linguist-vendored
android/app/BUCK/* linguist-vendored
android/keystores/BUCK/* linguist-vendored
ios/Gemfile/* linguist-vendored
ios/Gemfile.lock/* linguist-vendored
ios/UdemyFastlane/* linguist-vendored